spring:
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://configserver:9999}
  application:
    name: joueur
  datasource:
    url: 'jdbc:h2:mem:joueurdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://eurekaserver:8761/eureka}
    register-with-eureka: true
    fetch-registry: true