server:
  port: 8888

spring:
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://configserver:9999}
  application:
    name: gatewayserver
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
    gateway:
      # routes:
      #   - id: r1
      #     uri: lb://EQUIPES-MS
      #     predicates:
      #       - Path=/api/equipes/**
      #   - id: r2
      #     uri: lb://JOUEUR
      #     predicates:
      #       - Path=/api/joueurs/**
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:8090/realms/master/protocol/openid-connect/certs"

eureka:
  client:
    register-with-eureka: true
    fetchRegistry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
