server:
  port: 8888

spring:
  application:
    name: gatewayserver

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      routes:
        - id: r1
          uri: lb://EQUIPE
          predicates:
            - Path=/api/equipes/**
        - id: r2
          uri: lb://JOUEUR
          predicates:
            - Path=/api/joueurs/**
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted

eureka:
  instance:
    prefer-ip-address: true
